
version: "3"
services:

  backend:
    build: /Backend
    ports:
      - 8080:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://192.168.0.24:5432/mhqa_plantio
      - SPRING_DATASOURCE_USERNAME=mhqa
      - SPRING_DATASOURCE_PASSWORD=hk28gr20p1
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
      - spring.jpa.show-sql=true
      - spring.application.name=gerhottalica
    depends_on:
      - database
    restart: on-failure
   
  frontend:
    build: /Frontend/app
    ports:
      - "80:80"
    environment:
      - REACT_APP_BACKEND_URL=http://192.168.0.24:8080
    restart: on-failure
